<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>komorebi.to.social@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>qjfdacbmqywvyglf</param-value>
    </context-param>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>huonglh.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>huonglh.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>huonglh.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>huonglh.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetArticleController</servlet-name>
        <servlet-class>huonglh.controllers.GetArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewArticleController</servlet-name>
        <servlet-class>huonglh.controllers.ViewArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>huonglh.controllers.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>huonglh.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>huonglh.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackController</servlet-name>
        <servlet-class>huonglh.controllers.BackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmotionController</servlet-name>
        <servlet-class>huonglh.controllers.EmotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>huonglh.controllers.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleController</servlet-name>
        <servlet-class>huonglh.controllers.DeleteArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>huonglh.controllers.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailController</servlet-name>
        <servlet-class>huonglh.controllers.SendEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationController</servlet-name>
        <servlet-class>huonglh.controllers.VerificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetArticleController</servlet-name>
        <url-pattern>/GetArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewArticleController</servlet-name>
        <url-pattern>/ViewArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/CommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackController</servlet-name>
        <url-pattern>/BackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmotionController</servlet-name>
        <url-pattern>/EmotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/PostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleController</servlet-name>
        <url-pattern>/DeleteArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/DeleteCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailController</servlet-name>
        <url-pattern>/SendEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationController</servlet-name>
        <url-pattern>/VerificationController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>MiniSocialNetworkDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
